body{
    font-family: sans-serif;
    padding: 0;
    background-color: aquamarine;
    margin: 0;
}
.container{
    max-width: 600px;
    margin: 0px auto;
    padding: 20px 40px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}
